.board {

    position:absolute;
    top: 25%;
    width:70%;
    left:50%;
    transform: translate(-50%);
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.board-card {

    width:35%;
}

#board-left-card {

    top: 0%;
    left: 10%;

}

#board-right-card {

    top:0%;
    right:10%;
}

.play-game {

    position: absolute;
    top:30%;
    height: 100%;
    left:50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    width:7%;


}

#minimal-description {

    top:80%;
    width:40%;
    text-align: justify;
    font-size: 0.7vw;
}
