.player-result-card {

    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: justify;
}

.player-result-card img {
    width:80%;
    height:auto;
}

.strategy-result-name{

    text-align:center;
}

#winner h1{
    font-size: 2.2vw;
    color: #49e666;
}

#winner h2{
    color: #49e666;
}
#draw h1{
    font-size: 2.2vw;
    color: #ffe070;
}

#draw h2{
    color: #ffe070;
}

#loser h1{
    font-size: 2.2vw;
    color: #d13b3d;
}

#loser h2{
    color:#d13b3d;
}


#win-status-text{
    font-size: 2vw;
    margin: -0.5vw;
}

.player-points-scored {

    text-align:center;
}


#winner {
    color: #49e666;
}
#winner img{
    animation: pulse-green 2s alternate infinite;
}
#winner img:hover{
    transform: scale(1.1);
}

#draw {
    color: #ffe070;
}
#draw img{
    animation: pulse-yellow 2s alternate infinite;
}
#draw img:hover{
    transform: scale(1.1);
}


#loser img{
    animation: pulse-red 2s alternate infinite;
}

#loser img:hover{
    transform: scale(1.1);
}

@keyframes pulse-red {
	0% {
		filter: drop-shadow(0 0 1vw rgba(209, 59, 61, 0.5));
	}

	50% {
		filter: drop-shadow(0 0 1.5vw rgba(209, 59, 61, 0.75));
	}

	100% {
		filter: drop-shadow(0 0 2vw rgba(209, 59, 61, 1));
	}
}

@keyframes pulse-green {
	0% {
		filter: drop-shadow(0 0 1vw rgba(73, 230, 102, 0.5));
	}

	70% {
		filter: drop-shadow(0 0 1.5vw rgba(73, 230, 102, 0.75));
	}

	100% {
		filter: drop-shadow(0 0 2vw rgba(73, 230, 102, 1));
	}
}

@keyframes pulse-yellow {
	0% {
		filter: drop-shadow(0 0 1vw rgba(255, 224, 112, 0.5));
	}

	70% {
		filter: drop-shadow(0 0 1.5vw rgba(255, 224, 112, 0.75));
	}

	100% {
		filter: drop-shadow(0 0 2vw rgba(255, 224, 112, 1));
	}
}

