@import 'fonts.css';
@import 'globalStyles.css';

.title-subtitle-container {

    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .title {
    color: #ff4d7f;
    font-size: 4.5rem;
    margin-top: -1rem;
    display: inline-block; /* Ensures the container only takes the width of the text */
    overflow: hidden;
    transition: font-size 0.3s ease-in-out;
    text-shadow: 0 4px 6px rgba(34, 4, 11, 0.1);
    
  }
  
  .title:hover {
    font-size: 5rem; /* Increase font size on hover */
    animation: bounce 0.5s infinite alternate;
    animation: wave 1.2s infinite alternate;
  }

  @keyframes wave {
    to {
      transform: translateY(-0.5rem); /* Move letters up */
    }
  }
  .upper-subtitle {
    font-size: 1.8rem;
     /* Adjust the color as needed */
  }

  .lower-subtitle {
    font-family: 'PixlifySansVariable';
    color: #ffe4f1;
    font-size: 1.2rem;
  }
  